:root {
  --blue: #150f95;
  --blue-light: #0578bb;
  --orange: #da7a12;
  --purple: #741c94;
  --green: #008b3e;
  --text-dark: #000;
  --text-dark-medium: #111;
  --text-light: #fff;
  --text-medium: #999;
}
