* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::after,
*::before {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
