.about {
  width: calc(100% - 40px);
  border-top-left-radius: 0.2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: var(--text-light);
}

.about .text {
  width: 60%;
  margin-bottom: 1.2em;

  color: var(--text-dark-medium);
}

.about .text:nth-child(4) {
  margin-bottom: 1.5em;
}