@import "./logo.css";
@import "./menu.css";
@import "./call.css";
@import "./about.css";

.header {
  padding-top: 1.25em;
  position: relative;

  align-items: center;

  background-color: var(--blue);
}

.header-menu-parent {
  display: flex;
  justify-content: space-evenly;
}

.quem-somos-prop {
  flex: 1 1 auto;
  margin: 30px 30px 30px 70px;

}

.about__button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}