@import './logo.css';
@import './menu.css';
@import './call.css';
@import './about.css';

.header {
  padding-top: 1.25em;
  padding-bottom: calc(120px + 373px);
  position: relative;
  align-items: center;
  background-color: var(--blue);
}

@media screen and (max-width: 1423px) {
  .header {
    padding-bottom: calc(120px + 300px);
  }
}
