.header__menu ul {
  list-style-type: none;
  justify-items: flex-end;
  align-items: flex-end;
}
.header__menu .header__menu__item {
  display: inline-block;
}
.header__menu .header__menu__item__link {
  line-height: 1.2em;
  text-decoration: none;

  border-radius: 0.2em;
  display: block;
  padding: 0.793em;

  color: var(--text-light);

  transition-property: background, color;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: linear;
}
.header__menu .header__menu__item__link:hover {
  background: var(--text-light);
  color: var(--blue);
}
