.extensions__list {
    margin-top: 1.5em;
}
.extensions__list__item {
    max-width: calc(33.333% - 27px);
    margin-right: 20px;
    margin-bottom: 20px;
    
    padding: 1.5em 1em;
    
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    
    border-color: rgba(0, 0, 0, .2);
}
.extensions__list__item:first-child,
.extensions__list__item:nth-child(3n + 4) {
    margin-left: 18px;
}

.extensions__list__item__icon,
.extensions__list__item__title {
    display: inline-block;
    margin-bottom: 1em;
}
.extensions__list__item__icon__text {
    display: flex;
    align-items: center;
}

.extensions__list__item__title {
    font-size: 1.25em;
    font-style: normal;
    font-weight: 500;

    padding-left: .5em;
    
    color: var(--blue);
}

.extensions__list__item__text {
    font-size: .875em;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.extensions .link {
    display: inline-block;
}