.content {
    margin-top: 3.875em;
    margin-bottom: 3.875em;
    padding: 0 9.375em;
}

.container-fluid {
    padding-left: 0rem;
    padding-right: 0rem;
}

.centent__contact {
    width: 959px;
  
}

.form__content{
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;

}

@media screen and  (max-width: 600px) {
    .content {
        padding: 0 3.375em;
    }
} 